**/.classpath
**/.project
**/.settings
**/target
src/test/tmp/
src/test/debug/
src/test/output
.DS_Store
.classpath
.project
.settings
.factorypath
.idea
target
*.iml
*.class
*~
*.orig
# For Fiji #
*.jar
